<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <% 
            const formData = viewHelpers.getFormData(session, {});
            const hasError = (field) => viewHelpers.hasError(messages, field);
            const getErrorMessage = (field) => viewHelpers.getErrorMessage(messages, field);
        %>
        <form action="/cases" method="POST" novalidate>
            <div class="govuk-form-group <%= hasError('title') ? 'govuk-form-group--error' : '' %>">
                <label class="govuk-label" for="title">
                    Case title
                </label>
                <span id="title-hint" class="govuk-hint">
                    Required field
                </span>
                <% if (hasError('title')) { %>
                    <span id="title-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> <%= getErrorMessage('title') %>
                    </span>
                <% } %>
                <input class="govuk-input <%= hasError('title') ? 'govuk-input--error' : '' %>" id="title" name="title" type="text"
                    value="<%= formData && formData.title ? formData.title : '' %>" aria-describedby="title-hint"
                    required>
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="description">
                    Description
                </label>
                <span id="description-hint" class="govuk-hint">
                    Optional field
                </span>
                <textarea class="govuk-textarea" id="description" name="description" rows="5"
                    aria-describedby="description-hint"><%= formData && formData.description ? formData.description : '' %></textarea>
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="dueDate">
                    Due Date
                </label>
                <span id="dueDate-hint" class="govuk-hint">
                    Optional field. Format: YYYY-MM-DD
                </span>
                <input class="govuk-input" id="dueDate" name="dueDate" type="date"
                    value="<%= formData && formData.dueDate ? formData.dueDate : '' %>" aria-describedby="dueDate-hint">
            </div>

            <div class="govuk-button-group">
                <button type="submit" class="govuk-button" data-module="govuk-button">
                    Create case
                </button>

                <a href="/cases" class="govuk-link">Cancel</a>
            </div>
        </form>
    </div>
</div>